<% provide(:title, "Home") %>
<h1 class="title is-1">Riepilogo personale</h1>
<h3 class="subtitle is-3">In primo piano</h3>

<%= link_to @study do %>
<section class = "hero is-medium is-link" style='background-image: url("<%= image_url @study.image %>")'>
  <div class = "hero-body" >
      <h2 class="title" id = "h2_studies_card"><%= @study.title %>.</h2>
       <p class = "subtitle" id = "p_studies_card"><%= @study.description %></p>
  </div>
</section>
<% end %>

<p class="title is-2" id="titolo_home_2">
    Rafforza e consolida
  </p>

  <% @studies.each do |study| %>
    <%= link_to study do %>
      <div class="card">
        <div class="card-content">
          <div class="content">
            <%= image_tag study.image, width: :auto %>
            <p class="title is-4"><%= study.title %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>


<p class="title is-2" id="titolo_home_2">
    Mettiti alla prova
  </p>


<% if @quizzes.empty? %>
<p style="margin-bottom: 20px;">Complimenti! Hai completato tutti i quiz.</p>
<% else %>
  <% @quizzes.each do |quiz| %>
    <%= link_to create_user_quiz_path(id: quiz.id) do %>
      <div class="card">
          <div class="card-content">
            <div class="content">
              <%= image_tag quiz.image, width: :auto %>
              <p class="title is-4"><%= quiz.title %></p>
            </div>
          </div>
      </div> 
    <% end %>
  <% end %>
<% end %>