<% provide(:title, "Studia e ripeti") %>

<h1 class="title is-1">Studia e ripeti</h1>

<%= link_to @study do %>
<section class = "hero is-medium is-link" style='background-image: url("<%= image_url @study.image %>")'>
  <div class = "hero-body" >
      <h2 class="title" id = "h2_studies_card"><%= @study.title %>.</h2>
       <p class ="subtitle" id = "p_studies_card"><%= @study.description %></p>
  </div>
</section>
<% end %>
<br>
<br>

<p class="title is-2">
  Raccolte
</p>



  <% @studies.each do |study| %>
    <%= link_to study do %>
      <div class="card">
        <div class="card-content">
          <div class="content">
            <%= image_tag study.image, width: :auto %>
            <p class="title is-4"><%= study.title %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>


