<!-- 

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @study.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @study.image %>
</p>

<p>
  <strong>Video:</strong>
  <%= @study.video %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>

-->

<h1 class="title is-1">Argomento studio</h1>

<section class = "hero is-medium is-link" id = >
  <div class = "hero-body">
      <h2 class="title" id = "h2_studies_card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates itaque incidunt quidem nemo nisi inventore.</h2>
       <p class = "subtitle" id = "p_studies_card">Lorem ipsum dolor sit amet.</p>
  </div>
</section>
<br>
<br>

<p class="title is-2">
  Materiale studio
</p>


<section class="columns">
  <div class="card" id = "card1_studies_resources">
    <div class="card-content">
      <div class="content">
        <p class="title is-4">Studio1</p>
      </div>
    </div>
  </div>
  
  <div class="card" id = "card2_studies_resources">
    <div class="card-content">
      <div class="content">
        <p class="title is-4">Studio2</p>
      </div>
    </div>
  </div>

  <div class="card" id = "card3_studies_resources">
    <div class="card-content">
      <div class="content">
        <p class="title is-4">Studio3</p>
      </div>
    </div>
  </div>

  <div class="card" id = "card4_studies_resources">
    <div class="card-content">
      <div class="content">
        <p class="title is-4">Studio4</p>
      </div>
    </div>
  </div>
</section>